{% extends 'adventure/generic.html.twig' %}

{% block title %}Laundry Master{% endblock %}

{% block body %}
  
{% include 'adventure/navbar.html.twig' %}

<p>
    Detta ska bli en aboutsida.
</p>
{% endblock %}
