<nav>
    <p>
        <a href="{{ path('app_library') }}">Test1</a> |
        <a href="{{ path('book_create_get') }}">Test2</a> |
        <a href="{{ path('library_view_all') }}">Test3</a> |
    </p>
</nav>