<h1>Laundry Master</h1>

<nav>
    <p>
        <a href="{{ path('adventure_new_game') }}">Starta ett nytt spel</a> |
        {#<a href="{{ path('book_create_get') }}">Test2</a> |
        <a href="{{ path('library_view_all') }}">Test3</a> |#}
        Andra länkar?
    </p>
</nav>