<h1>Laundry Master</h1>

<nav>
    <p>
        <a href="{{ path('adventure_new_game') }}">Starta ett nytt spel</a> |
        <a href="{{ path('adventure_about') }}">Om</a> |
        <a href="{{ path('adventure_about') }}">API</a>
    </p>
</nav>