<nav class="adventure_navbar">
    <h3 class ="glow-red">
        LAUNDRY MASTER |
        <a href="{{ path('adventure_start') }}">Starta ett nytt spel</a> |
        <a href="{{ path('adventure_about') }}">Om</a> |
        <a href="{{ path('adventure_quick') }}">"Snabblösning" till lärare</a> |
        <a href="{{ path('adventure_about') }}">API</a>
    </h3>
</nav>