{% extends 'adventure/generic.html.twig' %}

{% block title %}Laundry Master{% endblock %}

{% block body %}
  
{% include 'adventure/navbar.html.twig' %}

<p>
    Här kan man tänka sig att man berätta om spelidén, regler etc. Kanske dela upp
    i kolumner eller på ett snyggt sätt sen. Fundera på vilka länkar
    som alltid ska vara synliga.
</p>
{% endblock %}
