{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %} 
    <section class="api">
        <h2>Sammaställning av JSON routes</h2>

        <p><a href="/api/quote">/api/quote</a>: Hämtar dagens citat</p>
    </section>
    

{% endblock %}