{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Card game</h1>

<p><a href="{{ path('card_deck')}}">Visa kortlek</a></p>
<p><a href="{{ path('shuffle_deck')}}">Visa blandad kortlek</a></p>


{% endblock %}