{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>MVC</h1>

    <section class="two-columns-report">
        <aside class="left">
            <h2>Kursmoment</h2>
            <p>
                <a href="#kmom01">Kmom01</a>
            </p>
            <p>
                <a href="#kmom02">Kmom02</a>
            </p>
            <p>
                <a href="#kmom03">Kmom03</a>
            </p>
            <p>
                <a href="#kmom04">Kmom04</a>
            </p>
            <p>
                <a href="#kmom05">Kmom05</a>
            </p>
            <p>
                <a href="#kmom06">Kmom06</a>
            </p>
            <p>
                <a href="#kmom07/10">Kmom07/10</a>
            </p>

        </aside>
        <article class="right">
            <h2 id="kmom01">Kmom01</h2>
            <p>
                ...
            </p>
            <h2 id="kmom02">Kmom02</h2>
            <p>
                ...
            </p>
            <h2 id="kmom03">Kmom03</h2>
            <p>
                ...
            </p>
            <h2 id="kmom04">Kmom04</h2>
            <p>
                ...
            </p>
            <h2 id="kmom05">Kmom05</h2>
            <p>
                ...
            </p>
            <h2 id="kmom06">Kmom06</h2>
            <p>
                ...
            </p>
            <h2 id="kmom07/10">Kmom07/10</h2>
            <p>
                ...
            </p>
        </article>
    </section>
    

{% endblock %}
