{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>MVC</h1>

    <section class="two-columns-report">
        <aside class="left">
            <h2>Kursmoment</h2>
            <p>
                <a href="#kmom01">Kmom01</a>
            </p>
            <p>
                <a href="#kmom02">Kmom02</a>
            </p>
            <p>
                <a href="#kmom03">Kmom03</a>
            </p>
            <p>
                <a href="#kmom04">Kmom04</a>
            </p>
            <p>
                <a href="#kmom05">Kmom05</a>
            </p>
            <p>
                <a href="#kmom06">Kmom06</a>
            </p>
            <p>
                <a href="#kmom07/10">Kmom07/10</a>
            </p>

        </aside>
        <article class="right">
            <h2 id="kmom01">Kmom01</h2>
            <p>
                Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
            </p>
            <p class ="reply">
                I ett tidigare liv (00-talet) utbildade jag mig till civilingenjör inom mekatronik.
                Där lärde jag mig objektorienterad programmering med C++. Sedan dess har jag tyvärr inte
                kommit i kontakt med det.
            </p>
            <p>
                Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver
                veta/förstå för att kunna komma igång och skapa sina första klasser?
            </p>
            <p class ="reply">
                Man bör först förstå vad en klass är vilket kan beskrivas som en mall för objekt. 
                En klass kan innehålla variabler (properties) och funktioner (i klasser kallat 
                metoder). Metoder är det vi kan göra med klassen och properties är dess tillstånd. 
                Properties och metoder kan antingen vara public, private eller protected.
            </p>
            <p class ="reply">
                Ett objekt är en instans av en klass. En klass kan med andra ord ha flera objekt
                som i sin tur kan ha olika värden på properties.
            </p>
            <p>
                Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften
                me/report, hur uppfattar du den?
            </p>
            <p class ="reply">
                Jag vet av erfarenhet från tidigare kurser inom dbwebb att det tar lite tid att 
                bli bekväm med strukturen på kodbasen. Jag klonade inte övningen som jag tror vissa 
                andra gjorde utan startade från scratch. Det tog lite tid men då fick jag bara med 
                det jag ville ha med. Det är bra att testa olika metoder i övningen men blir lite 
                rörigt när jag ska bestämma mig för vad jag skulle använda i uppgiften. Jag hoppas 
                jag gjorde rätt, det fungerar i varje fall.
            </p>
            <p>
                Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra 
                intressanta och värdefulla? Är det några särskilda områden som du känner att du 
                vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.
            </p>
            <p class ="reply">
                Min upplevelse är att “PHP The Right Way” gör det enklare att navigera PHP än att 
                direkt använda <a href="https://www.php.net/" target="_blank">php.net</a>. Jag 
                använde "date and time" för att lära mig om hur jag skulle utföra delar av uppgiften
                exempelvis. Hittills har jag inte mer än övergripande läst delar av dokumentet och mest
                haft det för att navigera. Exempelvis hitta information om klasser och objekt.
            </p>
            <p>
                Vilken är din TIL för detta kmom?
            </p>
            <p class ="reply">
                I detta kmom01 lärde jag mig om hur man kan använda Symfony som ramverk för PHP. Med detta även
                grundprinciperna för MVC "Model-View-Controller". Även JSON API är nytt för mig.
            </p>
            <p class ="reply">
                Kursmomentet erbjöd och mycket nyttig repetition av bland annat Sass, CSS, Git och 
                Twig.
            </p>

            <h2 id="kmom02">Kmom02</h2>
            <p>
                ...
            </p>
            <h2 id="kmom03">Kmom03</h2>
            <p>
                ...
            </p>
            <h2 id="kmom04">Kmom04</h2>
            <p>
                ...
            </p>
            <h2 id="kmom05">Kmom05</h2>
            <p>
                ...
            </p>
            <h2 id="kmom06">Kmom06</h2>
            <p>
                ...
            </p>
            <h2 id="kmom07/10">Kmom07/10</h2>
            <p>
                ...
            </p>
        </article>
    </section>
    

{% endblock %}
