<nav>
        <p><a href="{{ path('app_library') }}">Bibliotek - hem</a></p>
        <p><a href="{{ path('book_create_get') }}">Lägg till bok</a></p>
        <p><a href="{{ path('library_view_all') }}">Se alla böcker</a></p>

</nav>